.buttons {
  padding-top: 10px;
}

.ui.large.animated.button {
  width: 900px;
}

.visible.content {
  font-family: BoldFont;
  text-align: center;
}

.hidden.content {
  font-family: BoldFont;
  text-align: center;
}

.Contact {
  width: 1150px;
  color: azure;
}

h3 {
  margin-bottom: 15px;
}

/* Style for the primary button */
.ui.button.primary {
  background-color: #6e6d72;
  color: #ffffff;
  transition: background-color 0.3s ease; /* Add transition for smooth color change */
}

/* Change button color on hover */
.ui.button.primary:hover {
  background-color: #55b4f3 !important; /* Change to a darker shade of blue */
}

/* Style for the secondary button */
.ui.button.secondary {
  background-color: #6e6d72;
  color: #ffffff;
  transition: background-color 0.3s ease; /* Add transition for smooth color change */
}

/* Change button color on hover */
.ui.button.secondary:hover {
  background-color: #5fc56e !important;
  /* Change to a darker shade of red */
}

/* Add more styles as needed */

.ui.button.third {
  background-color: #6e6d72;
  color: #ffffff;
  transition: background-color 0.3s ease; /* Add transition for smooth color change */
}

/* Change button color on hover */
.ui.button.third:hover {
  background-color: #f5dd41e3 !important; /* Change to a darker shade of red */
}

.ui.button.fourth {
  background-color: #6e6d72;
  color: #ffffff;
  transition: background-color 0.3s ease; /* Add transition for smooth color change */
}

/* Change button color on hover */
.ui.button.fourth:hover {
  background-color: #e14545 !important; /* Change to a darker shade of blue */
}
